@using Cotecna.Voc.Web.Models;
@using Cotecna.Voc.Web.Common;

@model ChangePasswordModel

@{
    Layout = null;
    ViewBag.Title = "Voc Iraq";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.8.3.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.2.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#changeButton").click(function () {

            $("#form1").validate({
                errorElement: "span",
                errorClass: "error",
                rules: {
                    OldPassword: {
                        required: true,
                        minlength: '@Model.MinLenghtPassword'
                },
                NewPassword: {
                    required: true,
                    minlength: '@Model.MinLenghtPassword',
                    maxlength: '@Model.MaxLenghtPassword'
                },
                ReNewPassword: {
                    required: true,
                    minlength: '@Model.MinLenghtPassword',
                    maxlength: '@Model.MaxLenghtPassword',
                    equalTo: "#NewPassword"
                }
            },
                messages: {
                    OldPassword: {
                        required: "@Resources.Common.FieldMandatoryValidation"

                },
                NewPassword: {
                    required: "@Resources.Common.FieldMandatoryValidation"
                },
                ReNewPassword: {
                    required: "@Resources.Common.FieldMandatoryValidation",
                    equalTo: "@Resources.Common.NotIqualPasswordValidation"
                }
            },
                success: function (span) {
                },
                errorPlacement: function (error, element) {
                    var span = element.prev('span');
                    error.appendTo(span)
                },
                highlight: function (element, errorClass) {
                    var li = $(element).closest('li');
                    $(li).addClass(errorClass);
                },
                unhighlight: function (element, errorClass, validClass) {
                    var li = $(element).closest('li');
                    $(li).removeClass(errorClass);
                },
                invalidHandler: function (event, validator) {
                    var a = validator.errorList[0].element.id;
                    $('#' + a).focus();
                }
            });



            $("#form1").valid();
        });


    });
</script>


</head>
<body>
    <div id="TopBackground" style="background-color: #09aec6;"></div>
    <div id="Container">
        <!-- change logo, header, margin images here -->
        <a href="http://www.cotecna.com/" id="logo" style="left: 45px; top: 45px;">
            <img src="@Url.Content("~/Images/Logo-Voc-Iraq.png")" alt="Cotecna at your side" />
        </a>
        <img src="@Url.Content("~/Images/VOC-Iraq_external-web_banner-illustration.png")" id="headerImage" style="left: 195px; top: -22px;" />
        <img src="@Url.Content("~/Images/VOC-Iraq_external-web_left-illustration.png")" id="marginImage" style="left:-210px;top:150px;" />

        <!-- /change logo, header, margin images here -->
        
        <div id="Heading">
      
        </div>
        <div id="HeadingMenu">
          
        </div>

        <div class="expand-container"></div>
        <div id="PageLayout">
            <div id="Content">
                @using (Html.BeginForm("SaveChangePassword", "ForgetPassword", FormMethod.Post, new { id = "form1" }))
                {
                    <input type="hidden" id="UserName" name="UserName" value="@Model.UserName" />
                    
                    <div class="form product">

                    <div class="legend">
                        <span>&nbsp;</span>
                        Reset password
                    </div>
                       
                    <ol>
                        <li>
                            <label>
                                <span class="name">@Resources.Common.Email</span>
                                <span class="value">@Model.UserName</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <span class="name">@Resources.Common.TemporaryPassword</span>
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "txt" })
                            </label>
                        </li>
                        <li>
                            <label>
                                <span class="name">@Resources.Common.NewPassword</span>
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "txt" })
                            </label>
                        </li>
                        <li>
                            <label>
                                <span class="name">@Resources.Common.ConfirmNewPassword</span>
                                @Html.PasswordFor(m => m.ReNewPassword, new { @class = "txt" })
                            </label>
                        </li>
                    </ol>
                    
                    <p class ="btn">
                        
                        <span class="btn">
                            <input type="submit" value="@Resources.Common.ChangePasswordButton" id="changeButton" />
                        </span>

                    </p>
                    
                    </div>
                    <div class="form">
                        @Html.LocalValidationSummary()
                    </div>
                }
            </div>
            
        </div>
    </div>
</body>
</html>
