@using Cotecna.Voc.Web.Models
@using Cotecna.Voc.Web.Common
@model ResetPasswordModel
@{
    Layout = null;
    ViewBag.Title = "Forget password";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.8.3.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.2.js"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />    
    
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>

<script type="text/javascript">
   $(document).ready(function () {
    
        $("#cancelButton").click(function () {
            window.location = '@Url.Action("Index","Home")';
        });

       $("#resetButton").click(function () {
           $("#resetForm").validate({
               errorElement: "span",
               errorClass: "error",
               rules: {
                   UserName: {
                       required: true,
                       email: true
                   },
                   CaptchaValue: {
                       required: true
                   }
               },
               messages: {
                   required: "@Resources.Common.FieldMandatoryValidation",
            email: "@Resources.Common.EmailFormatNotValid"
        },
               success: function (span) {
               },
               errorPlacement: function (error, element) {
                   var span = element.prev('span');
                   error.appendTo(span)
               },
               highlight: function (element, errorClass) {
                   var li = $(element).closest('li');
                   $(li).addClass(errorClass);
               },
               unhighlight: function (element, errorClass, validClass) {
                   var li = $(element).closest('li');
                   $(li).removeClass(errorClass);
               },
               invalidHandler: function (event, validator) {
                   var a = validator.errorList[0].element.id;
                   $('#' + a).focus();
               }
           });


           $("#resetForm").valid();
       });
    });     
</script>

@{
    if (ViewBag.HasErrors!=null && ViewBag.HasErrors)
    {
        Model.CaptchaValue = null;
        <script type="text/javascript">
            $(document).ready(function () {
                $("#CaptchaValue").val(null);
            });
        </script>
    }
}

</head>
<body>
    <div id="TopBackground" style="background-color: #09aec6;"></div>
    <div id="Container">
        <!-- change logo, header, margin images here -->
        <a href="http://www.cotecna.com/" id="logo" style="left: 45px; top: 45px;">
            <img src="@Url.Content("~/Images/Logo-Voc-Iraq.png")" alt="Cotecna at your side" />
        </a>
        <img src="@Url.Content("~/Images/VOC-Iraq_external-web_banner-illustration.png")" id="headerImage" style="left: 195px; top: -22px;" />
        <img src="@Url.Content("~/Images/VOC-Iraq_external-web_left-illustration.png")" id="marginImage" style="left:-210px;top:150px;" />
        <!-- /change logo, header, margin images here -->
        
        <div id="Heading">
      
        </div>
        <div id="HeadingMenu">
          
        </div>

        <div class="expand-container"></div>
        <div id="PageLayout">
            <div id="Content">
                @using (Html.BeginForm("ResetPassword", "ForgetPassword", FormMethod.Post, new { id = "resetForm" }))
                {
                    
                    <div class="form product">

                    <div class="legend">
                        <span>&nbsp;</span>
                        @Resources.Common.ResetPasswordTitle
                    </div>
                       
                    <ol>
                        <li>
                            <label>
                                <span class="name">@Resources.Common.Email</span>
                                @Html.TextBoxFor(m => m.UserName, new { @class = "txt" })
                            </label>
                        </li>
                        <li>
                            <label>
                                <span class="name">@Resources.Common.CaptchaCode</span>
                                <img alt="" id="image" src="@Url.Action("ForgotPasswordCaptcha", "Captcha")" />      	
                            </label>
                        </li>
                        <li>
                            <label>
                                <span class="name">@Resources.Common.CaptchaValue</span>
                                @Html.TextBoxFor(m => m.CaptchaValue, new { @class = "txt" })
                            </label>
                        </li>
                    </ol>
                    
                    <p class ="btn">
                        
                        <span class="btn">
                            <input type="submit" value="@Resources.Common.ResetPasswordButton" id="resetButton"/>
                        </span>

                        <span class="btn2">
                            <input type="button" value="@Resources.Common.Cancel" id="cancelButton"/>
                        </span>
                        
                    </p>
                    
                    </div>
                    <div class="form">
                        @Html.LocalValidationSummary()
                    </div>
                }
            </div>
            
        </div>
    </div>
</body>
</html>
